#App {
  display: flex;
  font-family: roboto, sans-serif;
  flex-direction: column;
  flex-wrap: wrap;
}
#showTable {
  height: 75px;
  width: 125px;
  color: rgba(255, 99, 132, 1);
  background: white;
  border: 2px solid rgba(255, 99, 132, 1);
  font-size: 28px;
}
#dataDisplayContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
